{
  "tab_bar": {
    "show": true
  },
  "vim_mode": false,
  "vim": {
    "use_smartcase_find": true,
    "use_system_clipboard": "always",
    "toggle_relative_line_numbers": false
  },
  "cursor_blink": false,
  "relative_line_numbers": true,
  "scrollbar": { "show": "never" },
  "scroll_beyond_last_line": "off",
  "vertical_scroll_margin": 0,
  "search": { "whole_word": false },
  "theme": {
    "mode": "dark",
    "light": "Carbonfox - opaque",
    "dark": "Carbonfox - opaque"
  },
  "icon_theme": "Colored Zed Icons Theme Dark",
  "base_keymap": "JetBrains",
  "ui_font_family": "Geist Mono",
  "ui_font_size": 20,
  "ui_font_weight": 300,
  "ui_font_features": { "calt": true },
  "buffer_font_family": "Geist Mono",
  "buffer_font_fallbacks": ["Consolas", "Courier New"],
  "buffer_font_size": 20,
  "buffer_font_features": { "calt": true },
  "terminal": {
    "font_size": 20,
    "font_family": "CaskaydiaCove NFM"
  },
  "agent_buffer_font_size": 20,
  "features": {
    "edit_prediction_provider": "zed"
  },
  "show_whitespaces": "all",
  "show_edit_predictions": true,
  "autosave": "on_focus_change",
  "restore_on_startup": "last_session",
  "context_servers": {
    "mcp-server-brave-search": {
      "source": "extension",
      "enabled": true,
      "settings": {
        "brave_api_key": ""
      }
    }
  },
  "agent_servers": {},
  "agent": {
    "always_allow_tool_actions": true,
    "default_model": {
      "provider": "GLM",
      "model": "glm-4.6"
    }
  },
  "language_models": {
    "openai_compatible": {
      "GLM": {
        "api_url": "https://api.z.ai/api/coding/paas/v4",
        "available_models": [
          {
            "name": "glm-4.6",
            "max_tokens": 200000,
            "max_output_tokens": 200000,
            "max_completion_tokens": 200000,
            "capabilities": {
              "tools": true,
              "images": true,
              "parallel_tool_calls": false,
              "prompt_cache_key": false
            }
          }
        ]
      }
    }
  },
  "wsl_connections": [
    {
      "distro_name": "Ubuntu",
      "user": null,
      "projects": [
        {
          "paths": [
            "/home/jake"
          ]
        },
        {
          "paths": [
            "/home/jake/Astro"
          ]
        },
        {
          "paths": [
            "/home/jake/Astro/bonsai"
          ]
        },
        {
          "paths": [
            "/home/jake/Astro/orchid/./"
          ]
        },
        {
          "paths": [
            "/home/jake/Content/NTH"
          ]
        }
      ]
    }
  ]
}

#key map
[
  {
    "context": "Editor",
    "bindings": {
      "shift shift": "file_finder::Toggle",
      "ctrl-l": "assistant::QuoteSelection",
      "ctrl-shift-l": "workspace::ToggleRightDock",
      "ctrl-c": "editor::Copy",
      "ctrl-x": "editor::Cut",
      "ctrl-v": "editor::Paste",
      "ctrl-y": "editor::Undo",
      "ctrl-f": "buffer_search::Deploy",
      "ctrl-o": "workspace::Open",
      "ctrl-s": "workspace::Save",
      "ctrl-a": "editor::SelectAll",
      "ctrl-b": "workspace::ToggleLeftDock",
      "ctrl-j": "workspace::ToggleBottomDock"
    }
  }
]
