# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# Frontend-specific logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Frontend-specific environment variables
.env.local
.env.development
.env.test


# misc.
.dev*
