<p class="my-10 text-sm text-center text-gray-500">
	&copy;{new Date().getFullYear()} —
	<a
		href="https://orchid.com"
		class="hover:underline"
		target="_blank"
		rel="noopener noreferrer">Orchid</a
	>. All rights reserved.
</p>
